<!-- <nav class="navbar bg-light"> -->
    <nav class="navbar" style="background-color: #198755;">
        <div class="container-fluid">
          <div class="col-md">
              <h1 style="color: white;">Tournament Organizer</h1>
            </div>
        </div> 
    </nav>
    
    <div class="col-md-12 p-2">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openNewAthlete()"><div class="fa fa-save">New Athlete</div></button>
        <table class="table mt-2 table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Sport Type</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listAthletes">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.height}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.sportType}}</td>
                <td>{{item.category}}</td>
               
                <td>
                    <button type="button" class="btn btn btn-success btn-sm">
                        <div class="fa fa-pencil">Detail</div>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-warning btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openUpdateModal(item)">
                        <div class="fa fa-pencil">Edit</div>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)">
                        <div class="fa fa-trash">Delete</div>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <!-- TODO: Modals -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 *ngIf="!isUpdate" class="modal-title fs-5">New Athlete</h1>
              <h1 *ngIf="isUpdate" class="modal-title fs-5">Update Athlete</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formAthlete">
                <div class="mb-3 row">
                  <label for="name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" id="name" class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="age" class="col-sm-2 col-form-label">Age</label>
                  <div class="col-sm-10">
                    <input type="number" id="age" class="form-control" formControlName="age">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="height" class="col-sm-2 col-form-label">Height</label>
                  <div class="col-sm-10">
                    <input type="number" id="height" class="form-control" formControlName="height">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="weight" class="col-sm-2 col-form-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="number" id="weight" class="form-control" formControlName="weight">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="sportType" class="col-sm-2 col-form-label">Sport Type</label>
                  <div class="col-sm-10">
                    <select id="sportType" class="form-control" formControlName="sportType">
                        <option value="FOOTBALL">Football</option>
                        <option value="VOLLEYBALL">Volleyball</option>
                        <option value="TENNIS">Tennis</option>
                        <option value="TABLE_TENNIS">Table tennis</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="category" class="col-sm-2 col-form-label">Category</label>
                  <div class="col-sm-10">
                    <select id="category" class="form-control" formControlName="category">
                        <option value="Amateur">Amateur</option>
                        <option value="Professional">Professional</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
              <button *ngIf="!isUpdate" type="button" class="btn btn-success btn-sm" (click)="newAthlete()">Save</button>
              <button *ngIf="isUpdate" type="button" class="btn btn-warning btn-sm" (click)="update()">Update</button>
            </div>
          </div>
        </div>
      </div>

      